@import url('./variables.css');
@import "tailwindcss";

body {
    min-height: 100vh;
    background-color: var(--grey-200);
}

.preset-1 {
  font-family: var(--font-mono);
  font-size: var(--preset-1-size);
  line-height: var(--preset-1-line);
  letter-spacing: var(--preset-1-spacing);
  font-weight: bold;
}
.preset-2 {
  font-family: var(--font-mono);
  font-size: var(--preset-2-size);
  line-height: var(--preset-2-line);
  letter-spacing: var(--preset-2-spacing);
  font-weight: bold;
}
.preset-3 {
  font-family: var(--font-mono);
  font-size: var(--preset-3-size);
  line-height: var(--preset-3-line);
  letter-spacing: var(--preset-3-spacing);
  font-weight: bold;
}
.preset-4 {
  font-family: var(--font-mono);
  font-size: var(--preset-4-size);
  line-height: var(--preset-4-line);
  letter-spacing: var(--preset-4-spacing);
  font-weight: bold;
}
.preset-5 {
  font-family: var(--font-mono);
  font-size: var(--preset-5-size);
  line-height: var(--preset-5-line);
  letter-spacing: var(--preset-5-spacing);
  font-weight: bold;
}
.preset-6 {
  font-family: var(--font-mono);
  font-size: var(--preset-6-size);
  line-height: var(--preset-6-line);
  letter-spacing: var(--preset-6-spacing);
  font-weight: bold;
}

.bg-grey-600 { background-color: var(--grey-600); }
.bg-grey-550 { background-color: var(--grey-550); }
.bg-grey-500 { background-color: var(--grey-500); }
.bg-grey-400 { background-color: var(--grey-400); }
.bg-grey-300 { background-color: var(--grey-300); }
.bg-grey-200 { background-color: var(--grey-200); }
.bg-grey-50  { background-color: var(--grey-50); }
.bg-green2-900 { background-color: var(--green-900); }
.bg-green2-800 { background-color: var(--green-800); }
.bg-green2-750 { background-color: var(--green-750);}
.bg-green2-700 { background-color: var(--green-700); }
.bg-green2-400 { background-color: var(--green-400); }
.bg-green2-200 { background-color: var(--green-200); }
.bg-orange-400 { background-color: var(--orange-400); }

.text-grey-600 { color: var(--grey-600); }
.text-grey-550 { color: var(--grey-550); }
.text-grey-500 { color: var(--grey-500); }
.text-grey-400 { color: var(--grey-400); }
.text-grey-300 { color: var(--grey-300); }
.text-grey-200 { color: var(--grey-200); }
.text-grey-50  { color: var(--grey-50); }
.text-green2-900 { color: var(--green-900); }
.text-green2-800 { color: var(--green-800); }
.text-green2-700 { color: var(--green-700); }
.text-green2-400 { color: var(--green-400); }
.text-green2-200 { color: var(--green-200); }
.text-orange-400 { color: var(--orange-400); }

.border-grey-600 { border-color: var(--grey-600); }
.border-grey-550 { border-color: var(--grey-550); }
.border-grey-500 { border-color: var(--grey-500); }
.border-grey-400 { border-color: var(--grey-400); }
.border-grey-300 { border-color: var(--grey-300); }
.border-grey-200 { border-color: var(--grey-200); }
.border-grey-50  { border-color: var(--grey-50); }
.border-green2-900 { border-color: var(--green-900); }
.border-green2-840 { border-color: var(--green-840); }
.border-green2-700 { border-color: var(--green-700); }
.border-green2-400 { border-color: var(--green-400); }
.border-green2-200 { border-color: var(--green-200); }
.border-orange-400 { border-color: var(--orange-400); }

.hover\:bg-green2-200:hover { background-color: var(--green-200); }
.hover\:bg-green2-400:hover { background-color: var(--green-400); }
.hover\:bg-green2-700:hover { background-color: var(--green-700); }
.hover\:bg-green2-750:hover { background-color: var(--green-750); }
.hover\:bg-green2-800:hover { background-color: var(--green-800); }
.hover\:bg-green2-900:hover { background-color: var(--green-900); }

.hover\:text-green2-200:hover { color: var(--green-200); }
.hover\:text-green2-400:hover { color: var(--green-400); }
.hover\:text-green2-700:hover { color: var(--green-700); }
.hover\:text-green2-800:hover { color: var(--green-800); }
.hover\:text-green2-900:hover { color: var(--green-900); }

.focus\:outline-green2-200:focus { outline-color: var(--green-200); }
.focus\:outline-green2-400:focus { outline-color: var(--green-400); }
.focus\:outline-green2-700:focus { outline-color: var(--green-700); }
.focus\:outline-green2-750:focus { outline-color: var(--green-750); }
.focus\:outline-green2-800:focus { outline-color: var(--green-800); }
.focus\:outline-green2-900:focus { outline-color: var(--green-900); }