:root {
  --grey-600: #3D6666;
  --grey-550: #547878;
  --grey-500: #5E7A7D;
  --grey-400: #7F9D9F;
  --grey-300: #9EBBBD;
  --grey-200: #CDEAE7;
  --grey-50:  #F3F3FA;

  --green-900: #00474B;
  --green-800: #085C61;
  --green-750:#0D686D;  
  --green-700: #00646D;
  --green-400: #26C2AE;
  --green-200: #C5E4E7;

  --orange-400: #E17052;

  --font-mono: 'Space Mono', monospace;
  --preset-1-size: 48px;
  --preset-1-line: 71px;
  --preset-1-spacing: -1px;

  --preset-2-size: 32px;
  --preset-2-line: 47px;
  --preset-2-spacing: -0.67px;

  --preset-3-size: 24px;
  --preset-3-line: 35px;
  --preset-3-spacing: 0px;

  --preset-4-size: 20px;
  --preset-4-line: 30px;
  --preset-4-spacing: 0px;

  --preset-5-size: 16px;
  --preset-5-line: 24px;
  --preset-5-spacing: 0px;

  --preset-6-size: 13px;
  --preset-6-line: 19px;
  --preset-6-spacing: 0px;
}
